
<div class="container-fluid">
    <section id="companies" class="row mb-3 border border-1">
        <div class="col-12">
            <h1>Bizimle Çalışan firmalar</h1>
        </div>
    </section>
    <section id="about" class="row mb-3 border border-1">
        <div class="col-12">
            <h1>Hakkımızda</h1>
        </div>
    </section>
    <section id="contact" class="row">
        <div class="col-12">
            <h1>İletişim Kurmak İçin Form</h1>
        </div>
    </section>
</div>