
@{
    ViewData["Title"] = "Kullanıcı Oluştur";
    var roles = ViewData["Roles"] as List<YemekSiparisSistemi.Models.Role>;
}

<div class="container-fluid">
    <div class="row">
        <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">
                    <a href="/Admin/Index" style="color:indigo;">Ana Sayfa</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/Admin/Users" style="color:indigo;">Kullanıcılar</a>
                </li>
                <li class="breadcrumb-item active">Oluştur</li>
            </ol>
        </nav>
    </div>
    <div class="row py-3 justify-content-center">
        <div class="col-12 col-lg-8">
            <form class="row g-3" method="post" action="/Admin/Users/Create">
                <div class="col-md-6">
                    <label for="name" class="form-label">İsim</label>
                    <input type="text" name="Name" class="form-control shadow-none" id="name" required>
                </div>
                <div class="col-md-6">
                    <label for="surname" class="form-label">Soyisim</label>
                    <input type="text" name="Surname" class="form-control shadow-none" id="surname" required>
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">E-Posta</label>
                    <input type="email" name="Email" class="form-control shadow-none" id="email" required>
                </div>
                <div class="col-md-6">
                    <label for="phone" class="form-label">Telefon Numarası</label>
                    <input type="tel" name="Phone" class="form-control shadow-none" id="phone" required>
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" name="Password" class="form-control shadow-none" id="password" required>
                </div>
                <div class="col-md-6">
                    <label for="role" class="form-label">Rol</label>
                    <select id="role" name="RoleId" class="form-select shadow-none" required>
                        @foreach(var role in roles)
                        {
                            if(role.RoleName != "Restaurant")
                            {
                                <option value="@role.Id">@role.RoleName</option>
                            }
                        }
                    </select>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-primary col-12 col-md-6">Oluştur</button>
                </div>
            </form>
        </div>
</div>

